.app {
  display: flex;
  flex-direction: row;
  padding: 50px 100px;

  .board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #cccccc;
    padding-right: 50px;
  }
}

.square-green {
  background: rgb(50, 205, 50);
  border: 1px solid #ccc;
  float: left;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 50px;

  &:focus {
    outline: none;
  }
}

.square-red {
  background: rgb(230, 0, 0);
  border: 1px solid #ccc;
  float: left;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 50px;

  &:focus {
    outline: none;
  }
}
