.board {
  display: flex;
  flex-direction: column;
}

.board-hover {
  position: relative;
  cursor: pointer;

  &:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'Press play\ato try again';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s;
    opacity: 1;
    z-index: 2;
    white-space: pre;
  }
}
